# Database Connection Activity
In this activity, you will learn how to connect to a SQLite database and import data into a Pandas DataFrame using SQL queries.

## Select Kernel
Click on the kernel dropdown (right upper corner) and choose the virtual environment you activated (e.g., .venv).

In [1]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('../database/sample_database.db')

# Write a basic SQL query to retrieve data from the 'employees' table
query = 'SELECT * FROM employees'

# Load data into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

print('Data from employees table:')
df

Data from employees table:

   id     name  age   department   salary
0   1    Alice   28  Engineering  75000.0
1   2      Bob   34        Sales  64000.0
2   3  Charlie   45           HR  72000.0
3   4    David   30  Engineering  69000.0
4   5      Eve   29    Marketing  60000.0