# Saving Transformed Data
In this notebook, we'll explore various ways to save our transformed DataFrame after cleaning and processing.

In [1]:
import pandas as pd

# Example: Load sample data
data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [28, 29, 34, 30, 27],
    'department': ['Engineering', 'Sales', 'HR', 'Engineering', 'Marketing'],
    'salary': [75000, 64000, 72000, 69000, 60000]
}

df = pd.DataFrame(data)

# Display the DataFrame
print('Transformed DataFrame:')
df

Transformed DataFrame:

   id     name  age   department  salary
0   1    Alice   28  Engineering   75000
1   2      Bob   29        Sales   64000
2   3  Charlie   34           HR   72000
3   4    David   30  Engineering   69000
4   5      Eve   27    Marketing   60000

## 1. Save as a New CSV File

In [4]:
# Save the DataFrame to a CSV file
df.to_csv('../data/cleaned_data.csv', index=False)

# Note: Replace 'path/to/cleaned_data.csv' with the desired file path and name.

## 2. Save as an Excel File

In [6]:
# Save the DataFrame to an Excel file
df.to_excel('../data/cleaned_data.xlsx', index=False)

# Note: Replace 'path/to/cleaned_data.xlsx' with the desired file path and name.
# Requires the 'openpyxl' library, install it if necessary with: pip install openpyxl

## 3. Save to a Database

In [12]:
from sqlalchemy import create_engine

# Create a SQLite engine; adjust for your database type if needed
engine = create_engine('sqlite:///../data/database.db')

# Save the DataFrame to a SQL table called 'cleaned_data'
df.to_sql('cleaned_data', engine, index=False, if_exists='replace')

# Note: Replace 'sqlite:///path/to/database.db' with the actual database path and name.

5

## 4. Save as a JSON File

In [13]:
# Save the DataFrame to a JSON file
df.to_json('../data/cleaned_data.json', orient='records')

# Note: Replace 'path/to/cleaned_data.json' with the desired file path and name.
# Setting 'orient="records"' saves each row as a dictionary, making it easy to read in JSON format.

### Summary
Choose the format that best fits your needs:
- **CSV or Excel**: Suitable for individual projects or sharing.
- **Database**: Ideal for large projects needing a queryable format.
- **JSON**: Useful for hierarchical or structured data storage.